<h1>投稿一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= link_to '詳細', blog_path(blog.id) %></td>
    <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
    <td><%= link_to '削除', blog_path(blog.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to '新規投稿', new_blog_path %>


